@model App.ViewModels.PersonSuggestion.IndexViewModel

@{

    var formname = string.Empty;
}
@Html.Partial(MVC.Shared.Views._PageHeading)

<h2 class="centerblock showrequired">We apologize for the inconvenience. There are no active programs found.</h2>
