@*Used to show the dialog window for editing popups*@
<div class="modal modal-lg fade" id="divajaxedit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="divajaxedit-content">
            <div class="text-right" style="width: 100%;">
                <button type="button" class="btn acs-btn-default text-right" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
            <div class="modal-header" id="divajaxedit-header">
                <div id="divajaxedit-header-text" class="modal-header">
                    <h4 class="modal-title" id="divajaxedit-title"></h4>
                </div>
            </div>
            <div class="modal-body" id="divajaxedit-body"></div>
            <div class="modal-footer" id="divajexedit-footer">
                <div id="divajaxedit-footer-text"></div>
                <button type="button" class="btn acs-btn-default text-right" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Used to show the dialog window for help popups*@
<div class="modal fade" id="divajaxhelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="divajaxhelp-header">
                <button type="button" class="btn acs-btn-default text-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="divajaxhelp-body">
                This is where you insert the content you want to display in the modal.
            </div>
            <div class="modal-footer" id="divajexhelp-footer">
                <!-- footer area with buttons for a continued dialog -->
                <button type="button" class="btn acs-btn-default text-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Used to show the dialog window for the saving message popup*@
<div class="modal" id="divspinner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="divspinner-header">
            </div>
            <div class="modal-body" id="divspinner-body">
            </div>
            <div class="modal-footer" id="divspinner-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Used to show the dialog window for the loading message popup*@
<div class="modal" id="divloading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body" id="divloading-body">
    </div>
</div>
<div class="modal" id="divsaving" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body" id="divsaving-body">
    </div>
</div>
